.header {
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 15px;
    padding-top: 3%;
}
.afterHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    padding: 10px 20px; 
    background-color: #545a45;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
}
.buttons:hover{
    background-color: #c4c9c1;
}
.buttons:active{
    background-color: #5a803d;
}

.afterHeader > h3{
    background-color: #f0f0f0;
    width: fit-content;
    text-align: center;
    padding: 15px;    border-radius: 15px;

}
.afterHeader > a > * {
    border-radius: 50px;
}

img{
    width: 25%;
    max-height: 200px;

}

body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.container{
    background-color: #6c6c77;
    border-radius: 15px;
}

.mainpageButton{
    margin: 2%;
}

.mainpageButton > *{
    padding: 45px;
    width: 250px;
    font-size: large;
}

.buttonsMP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 90%;
    gap: 5%;
    margin: auto;
}

.showEmployee{
    width: 28%;
    margin: 1%;
    background-color: lightgray;
    border-radius: 15px;
}

.showEmployee > *{
    margin-left: 5%;
}
#findEmployeeDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
#showEmployeesButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 6%;
}
.error{
    color: red;
}
.formContainer{
    width: 100%;
    max-width: 600px; 
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
